<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-home">
            <a href="#" onclick="hrefClickHome()" id="href-home">Music-WYG</a>
        </div>
        {% include "search-bar.html" %}
        <div class="header-user">
            <a href="#" onclick="hrefClickUser()" id="href-user">User</a>
        </div>
    </header>
    <div class="body-container" id="body-container">
        {% block body %} {% endblock %}
    </div>
    <div class="music-container">
        <audio class="player" controls>
            <source src="/songs/passenger-let-her-go.mp3" type="audio/mp3">
        </audio>
    </div>
</body>