<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/functions.js"></script>
</head>

<body>
    <div class="body-container" id="body-container">
        <header class="header">
            <div class="header-home">
                <a hx-get="/" hx-swap="outerHTML" hx-target="#body-container" hx-push-url="true" id="href-home">Music-WYG</a>
            </div>
            {% include "search-bar.html" %}
            <div class="header-user">
                <a hx-get="/user/" hx-swap="outerHTML" hx-target="#body-container" hx-push-url="true" id="href-user">User</a>
            </div>
        </header>
        {% block body %} {% endblock %}
    </div>
    {% if render_music_player %}
    <div class="music-container">
        <audio class="player" controls>
            <source src="/songs/passenger-let-her-go.mp3" type="audio/mp3">
        </audio>
    </div>
    {% endif %}
</body>