<div class="search-form">
    <input class="search-form-input-search" id="search-form-input-search" type="text" name="search" hx-get="/search/" hx-swap="outerHTML" hx-target="#body-container" hx-trigger="keydown[keyCode==13]" hx-push-url="true" placeholder="Buscar">
    <button class="search-button-img" id="search-button-img" hx-get="/search/" hx-swap="outerHTML" hx-target="#body-container" hx-include="[name='search']" hx-push-url="true">
        <img src="/static/img/search-icon.png" width="30px" height="30px">
    </button>
</div>