{% extends "base.html" %} 

{% block title %} WYG - Search {{ user_search }} {% endblock %}

{% block body %}

{% if get_flashed_messages() %}
<div class="flashed-messages">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="upload-song">
    <form id="form-upload-song" hx-post="/upload/" hx-swap="outerHTML" hx-target="#body-container" hx-encoding="multipart/form-data">
        <input type="file" name="song-files" accept=".mp3">
        <div class="song-holder" id="song-holder">
            <div class="text-song-holder">
                Drop here your songs
            </div>
        </div>
        <input class="submit-song-upload" type="submit" value="Upload">
    </form>
</div>

{% endblock %}