{% extends "base.html" %} 

{% block title %} WYG - Search {{ user_search }} {% endblock %}

{% block body %}

<div class="upload-song">
    <form id="form-upload-song" action="/upload/" method="post">
        <input type="file" name="song-file" accept=".mp3" style="display: none;">
        <div class="song-holder">
            <div class="text-song-holder">
                Drop here your songs
            </div>
        </div>
        <input class="submit-song-upload" type="submit" value="Upload">
    </form>
</div>

{% endblock %}